::-webkit-scrollbar{
	display: none;
	width: 0;
}

body{
	overflow: hidden;
}

.body-wrapper{
	display:flex;
	font-size: 28px;
}

.team-list-tab{
	color: white;
	background-color: #222222;
	width: 525px;
	padding: 16px;
	height: 100vh;
	overflow-y: auto;
}

.team-container{
	background-color: #444444;
	color: white;
	margin-right: 8px;	
	margin-top: 12px;
}

.team-container:hover{
	border: 2px solid white;
	transform: scale(1.02);
	cursor: pointer;
}

.team-container:active, .team-container-true{
	border: 2px solid white;
	transform: scale(1.02);
	background-color: #ebe4d8;
	color: black;
}

.container-character-deck{
	display: flex;
	column-gap: 8px;
	padding: 0 8px;
}

.container-character-portrait{
	height: 94px;
	width: 94px;
	z-index: 3;
}
.container-character-portrait>img{
	z-index: 3;
	width: 94px;
	height: 76px;
	object-fit: cover;
	object-position: 0 100%;
}

/*.container-character-portrait>img:hover{
	transform: scale(1.24);
}*/

.container-character-portrait>img[src="./Portraits/AddCharacter.png"]{
	z-index: 3;
	width: 64px;
	height: 76px;
	object-fit: contain;
}

.container-character-portrait>img[src="./Portraits/AddCharacter.png"]:hover{
	position: relative;
	width: 64px;
	right: 2px;
}

.container-character-bg{
	z-index: -1;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.2);
	width: 64px;
	height: 64px;
	position: relative;
	top: -71px;
	left: 14px;
}
.container-character-hover{
	position: relative;
	top: -136px;
	background-color: transparent;
}

.new-button{
	margin-bottom: 52px;
}

.team-name{
	width: 72%;
	max-width: 72%;
	padding-left: 12px;
	word-wrap: break-word;
}

.name-edit-form{
	display: flex;
	flex-flow: row nowrap;
}

.name-edit-form > input{
	font-size: inherit;
	width: calc(100% - 64px);
}

.modal-global{
	z-index: 10;
	position: fixed;
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	height: 100%;
}

.modal-box{
	color: white;
	margin: 40px 400px;
	border: 2px solid white;
	background-color: black;
	height: 92%;
	border-radius: 8px;
}

.character-select-icon{
	width: 140px;
	border: 1px solid red;
	border-radius: 8px;
	overflow-x: hidden;
}

.character-select-icon:hover{
	transform: scale(1.02);
	border: 2px solid white;
}

.character-select-icon>img{
	position: relative;
	z-index: 4;
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: scale-down;
	object-position: px 0;
}

.character-select-icon>.element-icon{
	z-index: 5;
	position: relative;
	float: right;
	width: 32px;
	height: 32px;
	bottom: 144px;
	right: 4px;
	object-fit: fill;
	object-position: 0 0;
}

#modal-close{
	float: right;
	cursor: pointer;
}

#modal-close:hover{
	transform: scale(1.02);
}

.modal-box-preview{
	
}

.modal-box-character-grid{
	border: 1px solid white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 28px;
	row-gap: 16px;
	height: 86%;
	overflow: auto;
	justify-content: center;
	padding: 8px 0;
	margin: 0 16px;
}